/* ref table page for comments*/
html, body{
    height: 1080px;
    width: 1920px;
    margin: auto;
    background-color: rgb(247, 220, 147);
}

/*Values for main stage */
#mainContainer{
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: absolute;
    background-color: rgb(247, 220, 147);
}

/*Name of page*/
#name{
    position: absolute;
    left: 65px;
    top: 845px;
    font-size: 40;
    font-family:'Raleway', sans-serif;
}

/* Daiqi - header */
#daiqi{
    width: 180px;
    top: 20px;
    left: 900px;
    position: absolute;
}

/* The line that seperates the buttons and the main page */
#divider{
    position: absolute;
    background-color: black;
    left: 260px;
    top: 100px;
    width: 5px;
    height: 900px;
}

/* Main stage position */
#mainStage{
    position: absolute;
}

/* Home-button on the side */
#home{
    position: absolute;
    height: 150px;
    width: 200px;
    top:100px;
    background-color: rgb(255, 158, 113);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

/* Hover-effect which makes a shadow behind the home-button when u hover over it. */
#home:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

/* Table-button on the side */
#table{
    position: absolute;
    height: 150px;
    width: 200px;
    top:280px;
    background-color: rgb(147, 187, 247);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

/* Hover-effect which makes a shadow behind the table-button when u hover over it. */
#table:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

/* Calendar-button on the side */
#calendar{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 460px;
    background-color: rgb(247, 159, 147);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

/* Hover-effect which makes a shadow behind the calendar-button when u hover over it. */
#calendar:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

/* Profile-button on the side */
#profile{
    position: absolute;
    height: 150px;
    width: 200px;
    top:640px;
    background-color: rgb(193, 241, 165);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

/* Hover-effect which makes a shadow behind the profile-button when u hover over it. */
#profile:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

/* Info-text */
#mainText{
    position: absolute;
    top: 150px;
    left: 400px;
    width: 1500px;
    font-size: 50;
    font-family:'Raleway', sans-serif;  
}

/* "Created By" - text */
#created{
    position: absolute;
    text-decoration: underline;
    top: 800px;
    left:900px;
    width: 270px;
    font-size: 50;
    font-family:'Raleway', sans-serif;
}

/* The names and values */
.creators{
    position: absolute;
    top: 900px;
    width: 300px;
    font-size: 30;
    font-family:'Raleway', sans-serif;
    
}

#bendik{
    left: 400px;
}

#hadi{
    left: 650px;
}
#vilgeir{
    left:1000px;
}
#ali{
    left:1350px;
}
#ole{
    left:1700px;
}