html, body{
    width: 1920px;
    height: 1080px;
    margin: 0;
}

#header{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}

#startContainer{
    width: 1920px;
    height: 1080px;
    background-color: rgb(205, 249, 252);
    position: absolute; 
    margin: 0;
    background-image: radial-gradient(rgb(215, 236, 253), rgb(102, 183, 250));
}

#button1{
    left: 200px;
    top: 300px;
    height: 250px;
    width: 400px;
    position: absolute; 
    background-color: rgb(163, 172, 253);
    border-style: solid;
    border-width: thin;
    text-align: center;
}

#button1 a {
    font-size: 60px;
    font-family:'Raleway', sans-serif;
    vertical-align: middle;
}

#button1:hover{
    filter: drop-shadow(30px 10px 1px #4444dd);
    transition: 0.1s; 
}

#tablePic{
    position: absolute;
    width: 130px;
    top: 90px;
    left: 137px;
}

#button2{
    left: 760px;
    top: 300px;
    height: 250px;
    width: 400px;
    position: absolute; 
    background-color: rgb(245, 125, 125);
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button2:hover{
    filter: drop-shadow(30px 10px 1px #4444dd);
    transition: 0.1s;
}

#calendarPic{
    width: 110px;
    position: absolute;
    top:80px;
    left: 150px;
}

#button3{
    left: 1320px;
    top: 300px;
    height: 250px;
    width: 400px;
    position: absolute;  
    background-color: rgb(144, 250, 144);
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button3:hover{
    filter: drop-shadow(30px 10px 1px #4444dd);
    transition: 0.1s;
}

#profilePic{
    position: absolute;
    width: 120px;
    top: 85px;
    left: 140px;
}

#button4{
    left: 200px;
    top: 650px;
    height: 250px;
    width: 400px;
    position: absolute; 
    background-color: rgb(248, 255, 148);
    border-style: solid;
    border-width: thin;
}

#button4:hover{
    filter: drop-shadow(30px 10px 1px #4444dd);
    transition: 0.1s;
}

#button5{
    left: 760px;
    top: 650px;
    height: 250px;
    width: 400px;
    position: absolute; 
    background-color: rgb(255, 157, 242);
    border-style: solid;
    border-width: thin;
}

#button5:hover{
    filter: drop-shadow(30px 10px 1px #4444dd);
    transition: 0.1s;
}

#button6{
    left: 1320px;
    top: 650px;
    height: 250px;
    width: 400px;
    position: absolute;  
    background-color: rgb(255, 179, 134);
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button6:hover{
    filter: drop-shadow(30px 10px 1px #4444dd);
    transition: 0.1s;
}



#settingsCog{
    position: absolute;
    width: 130px;
    top: 80px;
    left: 140px;
}
