html, body{
    width: 1920px;
    height: 1080px;
    margin: auto;
    background-image: radial-gradient(rgb(215, 236, 253), rgb(102, 183, 250));
}

#daiqi{
    width: 500px;
    height: 200px;
    left: 700px;
    top: 60px;
    position: absolute;
}

#startContainer{
    width: 1920px;
    height: 1080px;
    position: absolute;
    background-image: radial-gradient(rgb(215, 236, 253), rgb(102, 183, 250));
}

#button1{
    left: 510px;
    top: 300px;
    height: 250px;
    width: 400px;
    position: absolute; 
    background-color: rgb(163, 172, 253);
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button1:hover{
    filter: drop-shadow(20px 10px 1px #4444dd);
    transition: 0.1s; 
}

#button1Text{
    position: absolute;
    top: 10px;
    left: 125px;
}

#tablePic{
    position: absolute;
    width: 130px;
    top: 90px;
    left: 137px;
}

#button2{
    left: 1000px;
    top: 300px;
    height: 250px;
    width: 400px;
    position: absolute; 
    background-color: rgb(245, 125, 125);
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button2:hover{
    filter: drop-shadow(20px 10px 1px #4444dd);
    transition: 0.1s;
}

#button2Text{
    position: absolute;
    top: 10px;
    left: 80px;
}

#calendarPic{
    width: 110px;
    position: absolute;
    top:80px;
    left: 150px;
}

#button3{
    left: 510px;
    top: 650px;
    height: 250px;
    width: 400px;
    position: absolute;  
    background-color: rgb(144, 250, 144);
    border-style: solid;
    border-width: thin;
    text-align: center;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button3:hover{
    filter: drop-shadow(20px 10px 1px #4444dd);
    transition: 0.1s;
}

#button3Text{
    position: absolute;
    top: 10px;
    left: 110px;
}

#profilePic{
    position: absolute;
    width: 120px;
    top: 85px;
    left: 140px;
}

#button4{
    left: 1000px;
    top: 650px;
    height: 250px;
    width: 400px;
    position: absolute;  
    background-color: rgb(255, 179, 134);
    border-style: solid;
    border-width: thin;
    font-size: 60px;
    font-family:'Raleway', sans-serif;
}

#button4:hover{
    filter: drop-shadow(20px 10px 1px #4444dd);
    transition: 0.1s;
}

#button4Text{
    position: absolute;
    top: 10px;
    left: 145px;
}

#infoQuestion{
    position: absolute;
    width: 110px;
    top: 85px;
    left: 145px;
}
