html, body{
    width: 1920px;
    height: 1080px;
    margin: 0;
}

#header{
    
}

#startContainer{
    width: 1920px;
    height: 1080px;
    background-color: red;
    position: relative;
    margin: 0;
}

#button1{
    left: 200px;
    top: 200px;
    height: 100px;
    width: 200px;
    position: relative;
    background-color: aqua;
}

#button2{
    left: 500px;
    top: 100px;
    height: 100px;
    width: 200px;
    position: center; 
    background-color: brown;
}

#button3{
    left: 800px;
    top: 0px;
    height: 100px;
    width: 200px;
    position: relative; 
    background-color: green;
}

