html, body{
    height: 1080px;
    width: 1920px;
    margin: 0px;
}

#mainContainer{
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: absolute;
    background-color: rgb(32, 19, 221);
}

#header{
    position: absolute;
    left:865px;
    height: 108px;
    top:0;
    font-size: 80;
    color:grey;
}

#mainStage{
    position: absolute;
    border: 1px solid black;
    height: 972px;
    width: 1670px;
    background-color: rgb(247, 107, 107);
    top: 98px;
    left:230px;
}

#home{
    position: absolute;
    height: 150px;
    width: 200px;
    top:200px;
    background-color: rgb(252, 146, 146);
    font-size: 70;
    color: white;
}

#table{
    position: absolute;
    height: 150px;
    width: 200px;
    top:400px;
    background-color: rgb(252, 246, 169);
    font-size: 65   ;
    color: white;
}

#calendar{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 600px;
    background-color: rgb(180, 248, 174);
    font-size: 50;
    color: white;
}

#profile{
    position: absolute;
    height: 150px;
    width: 200px;
    top:800px;
    background-color: rgb(168, 215, 253);
    font-size: 60;
    color: white;
}