
p{
    color:white;
    font-size:22px;
    font-family:verdana;
    position:absolute;
    z-index:1;
    text-align:center;
    left:400px;
    top:150px;
    
}

h1{
    color:white;
    font-size:60px;
    text-align: center;
    
}

body{
    height: 1080px;
    width: 1920px;
    position: relative;
    background-color: blue;
    margin: 0px;
}

#header{
    position: absolute;
    left:865px;
    height: 108px;
    top:0;
    font-size: 80;
    color:grey;
}

#mainStage{
    position: absolute;
    border: 1px solid black;
    height: 972px;
    width: 1729px;
    background-color: rgb(247, 107, 107);
    top: 98px;
    left:250px;
    z-index: 0;
}

#home{
    position: absolute;
    height: 150px;
    width: 200px;
    top:200px;
    background-color: rgb(252, 146, 146);
    font-size: 70;
    color: white;
}

#table{
    position: absolute;
    height: 150px;
    width: 200px;
    top:400px;
    background-color: rgb(252, 246, 169);
    font-size: 65   ;
    color: white;
}

#calendar{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 600px;
    background-color: rgb(180, 248, 174);
    font-size: 50;
    color: white;
}

#profile{
    position: absolute;
    height: 150px;
    width: 200px;
    top:800px;
    background-color: rgb(168, 215, 253);
    font-size: 60;
    color: white;
}

 #circle {
    position:absolute;
    width: 210px;
    height: 210px;
    border-radius:210px;
    background: white;
    bottom:95px;;
    left:300px;
    z-index:1;
    box-shadow:-50px -50px -50px grey;
}

.circle:after{
    content:'';
    padding-bottom:100%;
    display:block; 
}

span{
    position:absolute;
    top:50%;
    margin-left:15px;
    font-size:25px;
    color:black;
}

#circle2 {
    position:absolute;
      width:210px;
      height: 210px;
      border-radius: 210px;
      background: white;
      bottom:95px;
      left:900px;
    }
#circle3{
     position:absolute;
      width: 210px;
      height: 210px;
      border-radius: 210px;
      background: white;
      bottom:95px;
      left:1500px;
    }



