html, body{
    height: 1080px;
    width: 1920px;
    margin: auto;
    background-color: rgb(193, 241, 165);
}

#mainContainer{
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: absolute;
    background-color: rgb(193, 241, 165);
}

#name{
    position: absolute;
    left: 42px;
    top: 665px;
    font-size: 40;
    font-family:'Raleway', sans-serif;
}

#daiqi{
    width: 180px;
    top: 20px;
    left: 900px;
    position: absolute;
}

#divider{
    position: absolute;
    background-color: black;
    left: 260px;
    top: 100px;
    width: 5px;
    height: 900px;
}

#mainStage{
    position: absolute;
}

#home{
    position: absolute;
    height: 150px;
    width: 200px;
    top:100px;
    background-color: rgb(255, 158, 113);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#home:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#table{
    position: absolute;
    height: 150px;
    width: 200px;
    top:280px;
    background-color: rgb(147, 187, 247);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#table:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#calendar{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 460px;
    background-color: rgb(247, 159, 147);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#calendar:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#settings{
    position: absolute;
    height: 150px;
    width: 200px;
    top:820px;
    background-color: rgb(247, 220, 147);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin; 
}

#settings:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#mainStage{
    position: absolute;
    border: 1px solid black;
    height: 900px;
    width: 1500px;
    background-color: #f1f1f1;
    top: 110px;
    left:350px;
}

#profilePic{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
}

#infobox{
    width: 350px;
    height: 480px;
    position: absolute;
    top: 400px;
    left: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 0;
    overflow-y: auto;
}



#bioBox{
    position: absolute;
    width: 1075px;
    height: 350px;
    left: 400px;
    top: 20px;
    background-color: white;
    border: 2px solid black;
    overflow-y: auto;
}

#bio{
    position: absolute;
    height: 50px;
    width: 1030px;
    bottom: 20px;
    font-size: 20px;
    left: 20px;
}

#bioText{
    position: absolute;
    margin: 20px;
    font-size: 20;
}

#chatbox{
    position: absolute;
    height: 480px;
    width: 1075px;
    background-color: darkgrey;
    top: 400px;
    left: 400px;
    z-index: 50;
}

#chatArea{
    position: absolute;
    height: 360px;
    width: 1050px;
    border: 1px solid black;
    left: 10px;
    top:60px;
    overflow-y: auto;
    background-color: white;
    font-size: 30;
}

#chatText{
    position: absolute;
    font-size: 50;
    margin: 0;
    left:10px;
}

#chatInput{
    position: absolute;
    bottom: 5;
    left: 10;
    width: 540px;
    height: 40px;
    font-size: 20;
}
#sendBtn{
    position: absolute;
    bottom: 5;
    right: 10;
    width: 120px;
    height: 40px;
}