html, body{
    height: 1080px;
    width: 1920px;
    margin: 0px;
}

#mainContainer{
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: absolute;
    background-color: rgb(247, 220, 147);
}

#name{
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 50;
    text-decoration-line: underline;
    font-family:'Raleway', sans-serif;
}

#divider{
    position: absolute;
    background-color: black;
    left: 260px;
    top: 100px;
    width: 5px;
    height: 900px;
}

#mainStage{
    position: absolute;
}

/*#mainStage{
    position: absolute;
    height: 960px;
    width: 1670px;
    background-color: rgb(189, 189, 189);
    top: 120px;
    left:250px;
}*/

#home{
    position: absolute;
    height: 150px;
    width: 200px;
    top:200px;
    background-color: rgb(255, 158, 113);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#home:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#table{
    position: absolute;
    height: 150px;
    width: 200px;
    top:400px;
    background-color: rgb(147, 187, 247);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#table:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#calendar{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 600px;
    background-color: rgb(247, 159, 147);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#calendar:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#profile{
    position: absolute;
    height: 150px;
    width: 200px;
    top:800px;
    background-color: rgb(193, 241, 165);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#profile:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}