html, body{
    height: 1080px;
    width: 1920px;
    margin: auto;
    background-color: rgb(147, 187, 247);
}

#mainContainer{
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: absolute;
    background-color: rgb(147, 187, 247);
    overflow: hidden;
}

#name{
    position: absolute;
    left: 50px;
    top: 305px;
    font-size: 40;
    font-family:'Raleway', sans-serif;
}

#daiqi{
    width: 180px;
    top: 20px;
    left: 900px;
    position: absolute;
}

#divider{
    position: absolute;
    background-color: black;
    left: 260px;
    top: 100px;
    width: 5px;
    height: 900px;
}

#mainStage{
    position: absolute;
}

#home{
    position: absolute;
    height: 150px;
    width: 200px;
    top:100px;
    background-color: rgb(255, 158, 113);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#home:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#calendar{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 460px;
    background-color: rgb(247, 159, 147);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#calendar:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#profile{
    position: absolute;
    height: 150px;
    width: 200px;
    top:640px;
    background-color: rgb(193, 241, 165);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin;
}

#profile:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#settings{
    position: absolute;
    height: 150px;
    width: 200px;
    top:820px;
    background-color: rgb(247, 220, 147);
    font-size: 40;
    text-align: center;
    font-family:'Raleway', sans-serif;
    border-style: solid;
    border-width: thin; 
}

#settings:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#input{
    position: absolute;
    top:500px;
    
}

.cardName{
    position: absolute;
    top: 5px;
    left:100px;
    width: 200px;
    height: 40px;
    font-size: 20;
    text-align: center;
    font-family:'Raleway', sans-serif;
}

.card{
    position: absolute;
    height: 700px;
    width: 390px;
    top: 200px;
    overflow-y: auto;
    text-align: center;
    border-radius: 25px;
    font-family:'Raleway', sans-serif;
}

#ideaCard{
    left: 300px;
    background-color: rgb(255, 158, 113);
}
.list{
    top: 80px;
    position: absolute;
    font-size: 30;
}

.cardText{
    position: absolute;
    margin: 0;
    top:100px;
    width: 390px;
    text-align: center;
    font-family:'Raleway', sans-serif;
}

#ideasText{
    left: 300px;
    font-size: 80;

}
#todoText{
    font-size: 80;
    left: 700px;
}
#progressText{
    font-size: 70;
    left: 1100px;
    
}
#finishedText{
    font-size: 80;
    left:  1500px;
}

#btn{
    position: absolute;
    top: 60px;
    left: 100px;
    height: 40px;
    width: 200px;
    font-size: 23;
    font-family:'Raleway', sans-serif;
}

#toDo{
    left: 700px;
    z-index: 90;
    background-color: rgb(247, 159, 147);
    font-size: 90;
}

#inProgress{
    left: 1100px;
    z-index: 90;
    background-color: rgb(193, 241, 165);
    font-size: 60;
}

#finished{
    left: 1500px;
    z-index: 90;
    background-color: rgb(247, 220, 147);
    font-size: 80;

}

#chatbox{
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: darkgrey;
    bottom: -300px;
    left: 300px;
    z-index: 50;
}

#chatBtn{
    position: absolute;
    height: 150px;
    width: 200px;
    top: -150px;
    font-size: 35;
    background-color: darkgrey;
    border-radius: 25px;
    font-family:'Raleway', sans-serif;
}
#chatBtn:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#chatArea{
    position: absolute;
    height: 240px;
    width: 380px;
    border: 1px solid black;
    left: 10px;
    top:10px;
    overflow-y: auto;
    background-color: white;
    font-size: 30;
    font-family:'Raleway', sans-serif;
}

#chatInput{
    position: absolute;
    bottom: 5;
    left: 10;
    width: 240px;
    height: 40px;
    font-size: 20;
    font-family:'Raleway', sans-serif;
}
#sendBtn{
    position: absolute;
    bottom: 5;
    right: 10;
    width: 120px;
    height: 40px;
}

#trashcan{
    position: absolute;
    height: 500px;
    width: 390px;
    overflow-y: auto;
    background-color: cyan;
    right: -390px;
    top: 100px;
    z-index: 0;
    border-radius: 25px;
    font-family:'Raleway', sans-serif;
}
#showTrash{
    position: absolute;
    bottom:0;
    right: 20px;
    height: 150px;
    width: 200px;
    background-color: cyan;
    font-size: 40;
    border-radius: 25px;
    font-family:'Raleway', sans-serif;
}
#showTrash:hover{
    filter: drop-shadow(10px 10px 1px #4444dd);
    transition: 0.1s; 
}

#trashText{
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 60;
    margin: 0;
}
#trashList{
    position: absolute;
    top: 50px;
}

#emptyTrashcan{
    position: absolute;
    top:5px;
    right:5px;
    height: 50px;
    width: 100px;
}

#info{
    position: absolute;
    bottom: 50px;
    left:510px;
    font-size: 40;
    font-family:'Raleway', sans-serif;
}

