.main-container {
    max-width: 1500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: .25rem
}
.calendar-head {
    position:relative;
    left: 50%;
    padding: 5px;
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    height: 300px;
}

.table-bordered, thead, td, th {
    padding: 5px;
    border: 1px solid #dee2e6;
}

.calendar-foot {
    display: flex;
    align-items: center
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid;
    padding: 2px;
    font-size: 20px;
    border-radius: .25rem;
    flex: 1px;
}
.btn-outline {
    background-color: transparent;
    border-color: #007bff
}

.btn-outline:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.dropdown {
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.calendarTask {
    padding-left: 10px;
    display: inline-block;
}