.body{
    background-color: grey;
}

.main-container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    border: red 1px dashed;
}

.date-container {
    height: 900px;
    width: 890px;
    border: white 1px solid;
 }
.date-container > div{
    position: absolute;
    width: 300px;
    border: black 1px solid;
    height: 150px;
}
