body{
    height: 1080px;
    width: 1920px;
    background-color: blue;
    margin: 0px;
}

#header{
    position: absolute;
    left:864px;
    height: 108px;
    top:0;
    font-size: 80;
    color:white;
}
#input{
    position: absolute;
    top:500px;
}
#mainStage{
    position: absolute;
    border: 1px solid black;
    height: 972px;
    width: 1729px;
    background-color: red;
    top: 98px;
    left:192px;
    z-index: 2;
    box-shadow: -5px -5px 5px 5px black;
    overflow: hidden;
}

.cardName{
    position: absolute;
    top: 80px;
    left:0;
}

#profile{
    position: absolute;
    height: 108px;
    width: 192px;
    top:372px;
    background-color: black;
    font-size: 60;
    color: white;
}
#home{
    position: absolute;
    height: 108px;
    width: 192px;
    top:90px;
    background-color: black;
    font-size: 70;
    color: white;
}
#info{
    position: absolute;
    height: 98px;
    width: 192px;
    top:198px;
    background-color: black;
    font-size: 65   ;
    color: white;
}
#calendar{
    position: absolute;
    height: 108px;
    width: 192px;
    top:274px;
    background-color: black;
    font-size: 50;
    color: white;
}

#ideaCard{
    position: absolute;
    height: 700px;
    width: 300px;
    top: 50px;
    left: 50px;
    background-color: white;
    overflow-y: auto;

}
.list{
    top: 80px;
}

#ideasText{
    position: absolute;
    margin: 0;
    top:5px;
    width: 300px;
    font-size: 80;
    text-align: center;
}
#todoText{
    position: absolute;
    margin: 0;
    top:5px;
    width: 300px;
    font-size: 80;
    text-align: center;
}
#progressText{
    position: absolute;
    margin: 0;
    top:5px;
    width: 300px;
    font-size: 60;
    text-align: center;
}
#finishedText{
    position: absolute;
    margin: 0;
    top:5px;
    width: 300px;
    font-size: 80;
    text-align: center;
}

#ideaList{
    position: absolute;
    
    font-size: 30;
}
#todoList{
    position: absolute;
    
    font-size: 30;
}#progressList{
    position: absolute;
    
    font-size: 30;
}#finishedList{
    position: absolute;
   ;
    font-size: 30;
}

#btn{
    position: absolute;
    top: 80px;
    left: 170px;
}

#toDo{
    position: absolute;
    height: 700px;
    width: 300px;
    top: 50px;
    left: 450px;
    z-index: 90;
    background-color: white;
    font-size: 90;
    text-align: center;
    overflow-y: auto;
}

#inProgress{
    position: absolute;
    height: 700px;
    width: 300px;
    top: 50px;
    left: 850px;
    z-index: 90;
    background-color: white;
    font-size: 60;
    text-align: center;
    overflow-y: auto;
}

#finished{
    position: absolute;
    height: 700px;
    width: 300px;
    top: 50px;
    left: 1250px;
    z-index: 90;
    background-color: white;
    font-size: 80;
    text-align: center;
    overflow-y: auto;
}

#chatbox{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: white;
    bottom: -200px;
    left: 0;
}

#chatBtn{
    position: absolute;
    height: 50px;
    width: 50px;
    top: -50px;
}

#chatArea{
    position: absolute;
    height: 160px;
    width: 180px;
    border: 1px solid black;
    left: 10px;
    top:10px;
    overflow-y: auto;
}

#chatInput{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
}
#sendBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
}