body{
    margin: 0;
}

#calendar-container {
    height: auto;
    backgorund: red;
    border: 2px red solid;
}
#weekdays-container{
    height: auto;
    backgorund: red;
    border: 2px red solid;
}